/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.menuBtn {
	-fx-background-color: #4DB6AC;
	-fx-padding: 5.0px;
	-fx-cursor: hand;
}

.menuBtn:hover{
	-fx-background-color: #26a69a;
}

.menuList {
	-fx-background-color:  #4DB6AC;
	-fx-border-width: 0.0 1.0px 0.0 0.0;
	-fx-border-color:  #26a69a;
}

.menuList .list-cell{
	-fx-background-color:  #4DB6AC;
}

.menuList .scroll-bar:horizontal ,
.menuList  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
 
/* The increment and decrement button CSS class of scrollbar */
.menuList .increment-button ,.menuList .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-cursor: hand;
}
 
/* The main scrollbar **track** CSS class  */
.menuList .scroll-bar:horizontal .track ,
.menuList .scroll-bar:vertical .track{
     -fx-background-color: transparent;
     -fx-border-color:transparent;
     -fx-background-radius: 0.0em;
}
 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.menuList .scroll-bar:horizontal .thumb,
.menuList .scroll-bar:vertical .thumb {
    -fx-background-color:#26a69a;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-background-radius: 0.0em;
}

.menuList .scroll-bar:horizontal:hover .track ,
.menuList .scroll-bar:horizontal:pressed .track ,
.menuList .scroll-bar:vertical:hover .track,
.menuList .scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#009688 ,20.0%);

	 -fx-opacity: 0.2;
	 -fx-background-radius: 0.0em;
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.menuList .scroll-bar .thumb:hover,
.menuList .scroll-bar .thumb:pressed{
    -fx-background-color: #009688;
}

.menuList .list-cell:filled{
	-fx-cursor: hand;
	-fx-text-fill: #EEE;
	-fx-font-weight: bold;
	-fx-padding: 10.0px;
	-fx-border-width: 0.0 0.0 1.0px 0.0;
	-fx-border-color: #26a69a;
}

.menuList .list-cell:filled:hover{
	-fx-background-color:  #5fba7d;
	-fx-text-fill: #FFF;
}

.beginLayout{
	-fx-background-image:url("../img/nodejsBeginner4-660x330.png"); 
	-fx-background-size: cover;  
}