/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.menuBtn {
	-fx-background-color: none;
	-fx-padding: 4.0px;
	-fx-cursor: hand;
}

.menuList {
	-fx-background-color:  #4DB6AC;
	-fx-border-width: 0.0 1.0px 0.0 0.0;
	-fx-border-color:  #26a69a;
}

.menuList .list-cell{
	-fx-background-color:  #4DB6AC;
	-fx-text-fill: #FFF;
	-fx-font-weight: bold;
	-fx-padding: 10.0px;
	-fx-border-width: 0.0 0.0 1.0px 0.0;
	-fx-border-color: #26a69a;
}