/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.menuBtn {
	-fx-background-color: #4DB6AC;
	-fx-padding: 5.0px;
	-fx-cursor: hand;
}

.menuBtn:hover{
	-fx-background-color: #26a69a;
}

.menuList {
	-fx-background-color:  #4DB6AC;
	-fx-border-width: 0.0 1.0px 0.0 0.0;
	-fx-border-color:  #26a69a;
}

.menuList .list-cell{
	-fx-background-color:  #4DB6AC;
}

.menuList .list-cell:filled{
	-fx-cursor: hand;
	-fx-text-fill: #EEE;
	-fx-font-weight: bold;
	-fx-padding: 10.0px;
	-fx-border-width: 0.0 0.0 1.0px 0.0;
	-fx-border-color: #26a69a;
}

.menuList .list-cell:filled:hover{
	-fx-background-color:  #5fba7d;
	-fx-text-fill: #FFF;
}

.beginLayout{
	-fx-background-image:url("../img/nodejsBeginner4-660x330.png"); 
	-fx-background-size: cover;  
}